<br>
<br>
<h2>ユーザー名：<%= @user.name %> </h2>

<h3>投稿内容</h2>
<% @posts.each do |post| %>
  <ol><%= link_to post.content, post %></ol>
<% end %>

<% if current_user?(@user) %>
<h3>投稿する</h2>
<%= form_with(model: @post, local: true) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "内容" %>
  </div>
  <%= f.submit "投稿する", class: "btn btn-primary" %>
<% end %>
<% end %>

