<%= @post.user.name %>
<%= @post.content %>


<h2>コメント</h2>
<% @comments.each do |c| %>
  <%= c.content %>
  by <%= c.user.name %>
<% end %>
<%= form_with(model:  [@post, @comment]) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "コメント内容" %>
  </div>
  <%= f.submit "コメントする", class: "btn btn-primary" %>
<% end %>